.body-header {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.left {
    display: flex;
    width: 50%;
    padding: 5px;
}

.header {
    font-family: Roboto, sans-serif;
    color: #42515F;
}

.right {
    width: 50%;
    text-align-last: right;
}

.gen, .name{
    font-size: 16px;
} 

.number {
    margin-bottom: 30px;
    color: #fff;
    margin-left: 5px;
    background-color: #82A70C;
    width: 20px;
    text-align: center;
}

.searchbtn {
    width: 35px;
    background-color: #fff;
    border-radius: 14px;
}

.adduserbtn {
    width: 103px;
    background-color: #82A70C;
    color: #fff;
    font-size: 13px;
}

.body-table {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.emptable {
    width: 100%;
}

.emptable thead {
    background-color: #42515F;
    color: #fff;
}

th {
    font-size: 17px;
    font-family: Roboto, sans-serif;
}

.table-head {
    height: 50px;
}

.row {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E3E3;

}

label {
    display: block;
    text-align: center;
} 

.image1 {
    margin: 0 auto;
    width: 30px;
    display: flex;
    padding: 5px;
}

.department {
    padding: 3px;
    width: 55px;
    font-family: Roboto, sans-serif;
    background-color: #E9FEA5;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-flex;
    justify-content: center;
    border-radius: 20px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 820px) {
    .body-header {
        width: 100%;
    }
    
    .left {
        display: flex;
        width: 45%;
        padding: 5px;
    }

    .right {
        width: 55%;
    }

    .name {
        font-size: 10px;
    }

    .adduserbtn {
        width: 88px;
        font-size: 10px;
    }
    
    .body-table {
        width: 90%;
        margin: 0 auto;
        overflow-x: auto;
    }

    .gen, .name, .department {
        font-size: 11px;
    }

    th {
        font-size: 12px;
        font-family: Roboto, sans-serif;
    }

    .icon {
        width: 45%;
        margin: 0 auto;
        height: 18px;
        display: flex;
        justify-content: space-between;
    }

    svg{
        height: 15px;
        width: 12px;
    }
    
    .btn {
        height: 20px;
    }

    .adbtn { 
        width: 40%;
        height: 20px;  
    }

    .adduserbtn{
        font-size: 9px;
        width: 76px;
        padding: 3px;
    }

    .searchbtn {
        padding: 5px;
        width: 7%;
    }
}

@media only screen and (max-width: 550px) {
    .body-header {
        width: 90%;
    }

    .body-table {
        width: 100%;
    }

    label {
        font-size: 9px;
    }

    .department {
        font-size: 9px;
    }

    th {
        font-size: 11px;
        font-family: Roboto, sans-serif;
    }

    .icon {
        width: 45%;
        margin: 0 auto;
        height: 18px;
        display: flex;
    }

    svg{
        height: 15px;
        width: 12px;
        justify-content: space-around;
    }

    .searchbtn {
        width: 12%;
    }

}
